.icon-1,
.icon-2,
.icon-3,
.icon-4,
.icon-5,
.icon-6,
.icon-7,
.icon-8,
.icon-9 {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: cover;
}

.icon-1 {
    background-image: url(~/assets/icons/filter_1-24px.svg);
}
.icon-2 {
    background-image: url(~/assets/icons/filter_2-24px.svg);
}
.icon-3 {
    background-image: url(~/assets/icons/filter_3-24px.svg);
}
.icon-4 {
    background-image: url(~/assets/icons/filter_4-24px.svg);
}
.icon-5 {
    background-image: url(~/assets/icons/filter_5-24px.svg);
}
.icon-6 {
    background-image: url(~/assets/icons/filter_6-24px.svg);
}
.icon-7 {
    background-image: url(~/assets/icons/filter_7-24px.svg);
}
.icon-8 {
    background-image: url(~/assets/icons/filter_8-24px.svg);
}
.icon-9 {
    background-image: url(~/assets/icons/filter_9-24px.svg);
}
