<app-dropdown [value]='dd2' [options]='options' [menuPosition]='dd2' (changeValue)='dd2 = $event'>
</app-dropdown>

<app-dropdown class='top-right' [value]='dd1' [options]='options' [menuPosition]='dd1' (changeValue)='dd1 = $event' [loading]='true'>
</app-dropdown>

<app-dropdown class='bottom-left' [value]='dd3' [options]='options' [menuPosition]='dd3' (changeValue)='dd3 = $event'>
</app-dropdown>

<app-dropdown class='bottom-right' [value]='dd4' [options]='options' [menuPosition]='dd4' (changeValue)='dd4 = $event'>
</app-dropdown>
